/* Header */

body {
	font-family: 'Open Sans', sans-serif;
}

a {
	text-decoration: none;
	padding: 1.5em;
  width: 100%;
  height: 100%;
}

.nav-li a:hover {
	color: #eee;
}
.inactive {
		color: #737373;
}

.active {
	color: #eee;
}

.clear {
	clear: both;
}

.outer-container {
	padding-bottom: 4em;
}

.section-header {
	font-size: 2em;
	text-align: center;
	padding-bottom: 0.5em;
}

.section-subhead {
	font-size: 1.25em;
	text-align: center;
}

.section-head-cont {
	padding: 4em 0;
}

.cover {
	margin-top: 3em;
}

.head-nav {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	padding: 1em;
	background-color: #272727;
	text-align: right;
	min-height: 3em;
	z-index: 50;
}

.nav-bar {
	margin-right: 1em;
}

.nav-li {
	display: inline-block;
}

.nav-li a {
	font-size: 0.9em;
}

/* hero */

.hero-container {
	height: 42em;
	position: relative;
}

.hero-img {
	position: absolute;
	margin: 0;
	height: 100%;
	width: 100%;
	z-index: -99;
}

.overlay {
	position: absolute;
	margin: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(255, 0, 0, 0.5);
}

.hero-descrip {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #eee;
	font-size: 2em;
	z-index: 20;
}

/* skills */

.skills-container {	
	background-color: #F3F3F3;
}

.skills-inner-container {
	width: 90%;
	margin: 0 auto;
}

.skills-item {
	display: inline-block;
	position: relative;
  height: 16em;
  width: 33%;
  overflow: auto;
}

.skills-title {
	font-size: 1.5em;
	padding-bottom: 0.8em;
}

.skills-body {
	line-height: 1.5em;
	width: 90%;
}

/* projects */

.projects-collection {
	width: 90%;	
	margin: 0 auto;
}

.projects-item {
	display: inline-block;
	position: relative;
	height: 16em;
	width: 33%;
}

.port-img {
	height: 16em;
	width: 100%;
}

.item-overlay {
	position: absolute;
	display: none;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(128,128,128,0.9);
}

.proj-link {
	position: absolute;	
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;

	text-align: center;
	color: #eee;
}

.proj-name {
	font-size: 1.6em;
}

/* footer */

.footer{
	height: 6em;
	background-color: #272727;
	color: #737373;
	position: relative;
}

.basic-contact {
	position: absolute;
	top: 1.5em;
	left: 1em;
	/*padding: 1em;*/
}
.basic-contact p {
	padding: 0.2em;
}

.basic-contact a {
	color: rgba(255, 0, 0, 0.6);
	padding: 0;
}

.basic-contact a:hover {
	color: rgba(255, 0, 0, 0.4);
}

.icons {
	position: absolute;
	top: 1.5em;
	right: 1.5em;
}

.icons img {
	padding: 0.2em;
}

@media (max-width: 945px) {
	.skills-item {
		display: block;
	  height: 16em;
	  width: 60%; 
	  overflow: auto;
	  margin: 0 auto;
	}

	.projects-item {
		display: block;
		height: 16em;
		width: 60%;
		margin: 1em auto;
	}
}

@media (max-width: 900px) {

	.hero-descrip {
		font-size: 1.5em;
	}

	.section-header {
		font-size: 1.5em;
	}

	.skills-title {
		font-size: 1em;
	}

	.hero-container {
		height: 32em;
	}
 
} 

@media (max-width: 685px) {

	.skills-item {
		width: 100%;
	}

	.projects-item { 
		width: 100%;
	}

	.nav-bar {
		text-align: center;
		margin-right: 0;
	}

	.hero-descrip {
		font-size: 1em;
	}

	.section-header {
		font-size: 1em;
	}
 
} 

/*@media (max-width: 420px) {
	.hero-descrip {
		font-size: 0.8em;
	}

}*/

/*@media (max-width: ) {
	.hero-descrip {
		font-size: 0.8em;
	}

}*/

